.idea/
*.iml
out/
/JS/homework/CRUD_SERVER/node_modules/
/JS/homework/expressCRUD/node_modules/
JS/project/.env
JS/project/node_modules
/JS/homework/expressStatic/node_modules
/JS/homework/githubRepo/node_modules